#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Additional Styles - By Liav Ariel */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding: 20px;
}
.start-game {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.start-game button {
  border: 2px solid rgb(255, 0, 187);
  height: 85px;
  width: 73%;
  background: none;
  padding: 10px 20px; /* Added padding for equal sizing */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 10px; /* Space between buttons */
  display: inline-flex; /* Align image and text */
  align-items: center;
  justify-content: center;
}
.start-game button img {
  width: 50px; /* Adjusted image size for better alignment */
  height: 50px;
}
.start-game button:hover {
  border-color: #b30074;
  background-color: #f57edb;
}
.row {
  display: flex;
  height: 100vh; /* Ensure it takes full height of the viewport */
}
.game-board {
  flex: 3;
  width: 6000px;
  padding: 10px;
  background-color: #eee;
  margin: 0 auto;
  text-align: center;
  overflow-y: auto;
}
  
.add-player-btn {
  color: #F551D7;
  border: 2px solid rgb(255, 0, 187);
  width: 75%;
  height: 85px;
  font-size: 1.5em;
  background-color: transparent;
}

.add-player-btn:hover {
  color: white;
}

.top-player-btn {
  color: #F551D7;
  border: 2px solid rgb(255, 0, 187);
  width: 75%;
  height: 85px;
  font-size: 1.5em;
  background-color: transparent;
}

.top-player-btn:hover {
  color: white;
}

.new-game-btn {
  background-color: #ea43c5;
}

.new-game-btn:hover{
  background-color: #9c4589;
}

.btn:focus {
  outline: none; 
  box-shadow: none; 
}